#blog a
{
  text-decoration: none !important;
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
#sv
{
  display: none;
}
#forma
{
  display: none;
  .title, .text
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text
  {
    height: 60px;
  }
  #error
  {
    color: red;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
  }
}

.post
{
  background-color: #fff;
  width: 100%;
  min-height: 100px;
  border: 1px solid #dcdcdc;
  .title
  {
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: 1px solid #0f131f;
  }
}

