#blog a
{
  text-decoration: none !important;
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
#form_block
{
  display: none;
}

#error
{
  color: red;
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
}

.post
{
  padding: 0;
}
.post
{
  .title, .text, .tags
  {
    word-wrap: break-word;
  }
  background-color: #fff;
  border: 1px solid #dcdcdc;

  .title
  {
    font-size: 20px;
    border: 1px solid #0f131f;
    justify-content: space-between;
    .delete
    {
      height: inherit;
      #button
      {
        background-color: lightgrey;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      #button:hover
      {
        background-color: indianred;
        cursor: pointer;
      }
    }
  }
  .text
  {
    min-height: 60px;
    max-height: 120px;
    overflow-y: auto;
  }
  .tags
  {
    opacity: 0.7;
  }
}

hr
{
  margin: 0;
  border: none;
  background-color: #a5a4a4;
  height: 1px;
  box-shadow: 0 5px 10px #6f6f6f;
}

#main_hr
{
  display: none;
}

.post
{
  .row
  {
    margin: 0;
  }
}

.arrow {
  width: 20px;
  height: 20px;
  border-top: 5px solid #4e4e4e;
  border-right: 5px solid #4e4e4e;
}

.arrow:hover
{
  cursor: pointer;
}

#open
{
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  .arrow-bottom
  {
    transform: rotate(135deg);
  }

}

#close
{
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  .arrow-up
  {
    display: none;
    transform: rotate(-45deg);
  }


}