#notif a
{
  text-decoration: none !important;
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.notif
{
  background-color: #fff;
  justify-content: space-between;
}
.delete_notif
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: 25px;
  background-color: indianred;
}
.delete_notif:hover
{
  cursor: pointer;
}